@tailwind base;
@tailwind components;
@tailwind utilities;



/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination button {
    @apply cursor-pointer
}

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-black text-base-100
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, retro, aqua;
}